#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.adminmenu {
  max-height: 100vh;
  height: auto;
  position: sticky;
  top: 0px;
  /* flex: 1; */
}
.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
tbody > tr:hover {
  background-color: rgb(243 244 246);
}
.select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  position: relative;
}

.select option {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  padding: 8px;
  width: 100%;
}
.select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: 8px solid transparent;
  border-top-color: red;
}
/* hide buttons on number input boxes */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
